language: node_js
node_js:
    - 9
before_install:
  - npm i -g npm@latest
install:
    - npm ci
    - npm run flow-init
    - npm install -g codecov
script:
    - npm run lint-export
    - npm run test
    - npm run flow
after_success:
  - codecov
sudo: required
notifications:
  email: false
deploy:
  provider: npm
  email: michal@fabulator.cz
  api_key: $NPM_TOKEN
  skip_cleanup: true
  on:
    tags: true
